 /* Main title */
 h1 {     position: absolute;
  right: 76%;
  top: 9.5%;
  width: fit-content;
  font-size: large;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: black;
  color: red;
  border-radius: 52%;
  padding: 3%;
}
/* This is for the Submissions title for what will be a box with submissions. */
h2.subs {display: inline-flex;  
  position: absolute;
  right: 46.5%;
  top: 12.5%;
  width: fit-content;
  font-size: large;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-family: 'Trebuchet MS';
  background-color: black;
  color: red;
  border-radius: 52%;
  padding: 3%;
}

h2.stats {display: inline-flex;  
  position: absolute;
  right: 17%;
  top: 12.5%;
  width: fit-content;
  font-size: large;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: black;
  color: red;
  border-radius: 52%;
  padding: 3%;
}

li:hover, img.head:hover, img.shoulder:hover, img.torso#abs:hover, img.arm:hover, img.hand:hover, img.leg:hover, img.foot:hover {
  background-color: aqua;
  cursor: pointer;
  color: purple;
  z-index: 14;
}

img.fighter {
  display: inline-flex;
  position: absolute;
  left: -33%;
  top: 174.5%;
  height: 296px;
  width: 342px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.head {
  display: inline-flex;
    position: absolute;
    left: 10.6%;
    top: 25.5%;
    border-radius: 4px;
    padding: 1px;
    width: 121px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.shoulder#leftShoulder {
  display: inline-flex;
    position: absolute;
    left: 92px;
    top: 41.2%;
    border-radius: 4px;
    padding: 1px;
    width: 122px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.shoulder#rightShoulder {
  display: inline-flex;
  position: absolute;
  left: 180px;
  top: 41.3%;
  border-radius: 4px;
  padding: 1px;
  width: 122px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


img.arm#leftArm {
  display: inline-flex;
    position: absolute;
    left: 46px;
    top: 57.3%;
    border-radius: 4px;
    padding: 1px;
    width: 123px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img.arm#rightArm {
  display: inline-flex;
  position: absolute;
  left: 228px;
  top: 56.3%;
  border-radius: 4px;
  padding: 1px;
  width: 123px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.hand#leftHand {
  display: inline-flex;
  position: absolute;
  left: 2px;
  top: 70.5%;
  border-radius: 4px;
  padding: 1px;
  width: 126px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.hand#rightHand {
  display: inline-flex;
  position: absolute;
  left: 269px;
  top: 70.4%;
  border-radius: 4px;
  padding: 1px;
  width: 126px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.torso#abs {
  display: inline-flex;
  position: absolute;
  left: 112px;
  top: 53%;
  border-radius: 4px;
  padding: 1px;
  width: 156px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.torso#upperThighRight {
  display: inline-flex;
    position: absolute;
    left: 166px;
    top: 69%;
    border-radius: 4px;
    padding: 1px;
    width: 126px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img.torso#upperThighLeft {
  display: inline-flex;
    position: absolute;
    left: 101.5px;
    top: 69%;
    border-radius: 4px;
    padding: 1px;
    width: 126px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.leg#leftLeg {
  display: inline-flex;
    position: absolute;
    left: 104px;
    top: 85.6%;
    border-radius: 4px;
    padding: 1px;
    width: 103px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.leg#rightLeg {
  display: inline-flex;
    position: absolute;
    left: 175px;
    top: 84.4%;
    border-radius: 4px;
    padding: 1px;
    width: 108px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.foot#leftFoot {
  display: inline-flex;
  position: absolute;
  left: 91px;
  top: 117.5%;
  border-radius: 4px;
  padding: 1px;
  width: 126px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.foot#rightFoot {
  display: inline-flex;
    position: absolute;
    left: 179px;
    top: 118.5%;
    border-radius: 4px;
    padding: 1px;
    width: 126px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul.subList {
  display: inline-flex;
  position: absolute;
  right: 47%;
  top: 43.5%;
  width: 137px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  border: 5px solid black;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 50px;
  border-radius: 5px;
}
li {
  border: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;

  border-top: 5px;
  border-left: 5px;
}



div.stats {
  display: inline-flex;
  position: absolute;
  right: 99px;
  top: 32.5%;
  width: fit-content;
  border: 6px solid red;
  border-radius: 4px;
  padding: 1px;
  width: 205px;
  margin: 45px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.fighter {
  display: inline-flex;
  position: absolute;
  right: 15%;
  top: 38.5%;
  padding: 1px;
  width: 205px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
