 /* Main title */

 @font-face {
  font-family: DarkSouls;
  src: url(src\styles\OptimusPrincepsSemiBold.ttf);
}
 a {
  font-size: larger;
  color: red;
  font-family: "DarkSouls";
  top: 104%;
  position: absolute;
}
 img.background {
  height: 100%;
  width: 100%;
  position: fixed;
}
 h1 {    position: absolute;
  right: 80%;
  left: 9.5%;
  top: 2.5%;
  width: fit-content;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DarkSouls";
  background-color: black;
  color: red;
  border-radius: 52%;
  padding: 3%;
}
/* This is for the Submissions title for what will be a box with submissions. */
h2.subs {display: inline-flex;  
  position: absolute;
  right: 46.5%;
  top: 12.5%;
  width: fit-content;
  font-size: larger;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-family: 'DarkSouls';
  background-color: black;
  color: red;
  border-radius: 52%;
  padding: 3%;
}

h2.stats {display: inline-flex;  
  position: absolute;
  right: 13%;
  top: 12.5%;
  width: fit-content;
  font-size: larger;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-family:"DarkSouls";
  background-color: black;
  color: red;
  border-radius: 52%;
  padding: 3%;
}

h3, h4, h5{
  font-size: large;
  border: 7px;
  border-style: ridge;
  border-color: royalblue;
  background-color: rgb(147, 147, 244);
  color: black;
  
}

// h3.fighter {
//   top: 0%;
//   position: absolute;
// }
// h4.fighter {
//   position: absolute;
//   top: 0%;
// }

a:hover, li:hover, img.head:hover, img.shoulder:hover, img.torso#abs:hover, img.arm:hover, img.hand:hover, img.leg:hover, img.foot:hover {
  background-color: aqua;
  cursor: pointer;
  color: rgb(3, 210, 3);
  z-index: 20;
}

img.fighter {
  display: inline-flex;
  position: absolute;
  left: -10%;
  top: 122.5%;
  height: 250px;
  width: 250px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.head {
  display: inline-flex;
    position: absolute;
    left: 10.6%;
    top: 25.5%;
    border-radius: 4px;
    padding: 1px;
    width: 10%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


img.shoulder#leftShoulder {
  display: inline-flex;
  position: absolute;
  left: 7.29%;
  top: 42%;
  border-radius: 4px;
  padding: 1px;
  width: 10%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.shoulder#rightShoulder {
  display: inline-flex;
  position: absolute;
  left: 14.5%;
  top: 42%;
  border-radius: 4px;
  padding: 1px;
  width: 10%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


img.arm#leftArm {
  display: inline-flex;
    position: absolute;
    left: 3.59%;
    top: 58.7%;
    border-radius: 4px;
    padding: 1px;
    width: 10%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img.arm#rightArm {
  display: inline-flex;
  position: absolute;
  left: 18.4%;
  top: 57.6%;
  border-radius: 4px;
  padding: 1px;
  width: 10%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.hand#leftHand {
  display: inline-flex;
  position: absolute;
  left: 0.19%;
  top: 72.4%;
  border-radius: 4px;
  padding: 1px;
  width: 10%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.hand#rightHand {
  display: inline-flex;
  position: absolute;
  left: 21.8%;
  top: 72.1%;
  border-radius: 4px;
  padding: 1px;
  width: 10%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.torso#abs {
  display: inline-flex;
  position: absolute;
  left: 9.5%;
  top: 55%;
  border-radius: 4px;
  padding: 1px;
  width: 12%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img.torso#upperThighRight {
  display: inline-flex;
    position: absolute;
    left: 13.5%;
    top: 70.6%;
    border-radius: 4px;
    padding: 1px;
    width: 10%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img.torso#upperThighLeft {
  display: inline-flex;
    position: absolute;
    left: 8.5%;
    top: 70.6%;
    border-radius: 4px;
    padding: 1px;
    width: 10%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.leg#leftLeg {
  display: inline-flex;
    position: absolute;
    left: 8.87%;
    top: 87.3%;
    border-radius: 4px;
    padding: 1px;
    width: 8%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.leg#rightLeg {
  display: inline-flex;
    position: absolute;
    left: 14.1%;
    top: 85.7%;
    border-radius: 4px;
    padding: 1px;
    width: 8.7%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.foot#leftFoot {
  display: inline-flex;
  position: absolute;
  left: 7.76%;
  top: 117.5%;
  border-radius: 4px;
  padding: 1px;
  width: 10%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img.foot#rightFoot {
  display: inline-flex;
    position: absolute;
    left: 14.5%;
    top: 120.5%;
    border-radius: 4px;
    padding: 1px;
    width: 10%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul.subList {
  display: inline-flex;
  position: absolute;
  right: 47.8%;
  top: 32.5%;
  width: 137px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DarkSouls";
}
ul {
  border: 3px solid black;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 50px;
  border-radius: 5px;
  font-family: "DarkSouls";
  background-color: grey;
  border-style: inset;
}
li {
  border: 3px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "DarkSouls";
  border-top: 5px;
  border-left: 5px;
  border-style: ridge;
  background-color: rgb(124, 124, 211);
}



div.stats {
  display: inline-flex;
  position: absolute;
  right: 99px;
  top: 32.5%;
  width: fit-content;
  border: 6px solid red;
  border-radius: 4px;
  padding: 1px;
  width: 205px;
  margin: 45px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DarkSouls";
}

div.fighter {
  display: inline-flex;
  position: absolute;
  right: 15%;
  top: 30.5%;
  padding: 1px;
  width: 205px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DarkSouls";
  color: rgb(78, 24, 126);
}
